.main {
  .input-form-extension {
    font-size: 18px;
    width: "70%";
  }
  .extenLabel {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }
  .extenLogin {
    background: #256d85;
    color: #fff;
    width: 60%;
    font-size: 20px;
    border: #e1e1e1;
    cursor: pointer;
  }
}
