<div class="main">
  <app-topnav></app-topnav>
  <div class="headerContainer">
    <h2>Products</h2>
  </div>

  <div class="productContainer">
    <div class="baseContainer">
      <div class="imageContainer">
        <img
          class="webbyImage"
          src="https://images.unsplash.com/photo-1590595906931-81f04f0ccebb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        />
      </div>
      <br />
      <div class="contentContainer">
        <h2>Webby</h2>
      </div>
      <div class="detailsContainer">
        <p>
          A dedicated chromium extension for your parental monitoring needs,
          Webby logs every site and monitors web activities, blocks sites that
          you restrict, notifies about your activities and take screenshots of
          your current browser window.
        </p>
        <br />
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="baseContainer">
      <div class="imageContainer">
        <img
          class="webbyImage"
          src="https://images.unsplash.com/photo-1619597455322-4fbbd820250a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        />
      </div>
      <br />
      <div class="contentContainer">
        <h2>Deskty</h2>
      </div>
      <div class="detailsContainer">
        <p>
          A windows parental monitoring application designed to track every
          application being used, send notifications and alerts on restricted
          applications and take screenshots of your current windows screen.
        </p>
        <br />
      </div>
    </div>

    <div class="baseContainer">
      <div class="imageContainer">
        <img
          class="webbyImage"
          src="https://images.unsplash.com/photo-1513595207829-9f414c0665f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        />
      </div>
      <br />
      <div class="contentContainer">
        <h2>Mobilo</h2>
      </div>
      <div class="detailsContainer">
        <p>
          A mobile application designed for parental monitoring that tracks
          screen orientation and sends notifications.
        </p>
        <br />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
