.main {
    margin: 0;
    .mobileNavList {
        li {
            font-size: 18px;
            list-style: none;
            margin: 5px;
            padding: 5px;
            color: #256D85;
        }
    }
}