<div class="main">
    <div class="c1">
            <img class="imgPeopleA" alt="Card" src="assets/g1.png">
            <br>
            <label class="labelLow">PROMOTE A SAFER DIGITAL WELL BEING FOR YOUR CHILD</label>
            <div class="listView">
                <li>
                    Minimize Cyberbullying
                </li>
                <li>
                    Reduce access to inappropriate contents
                </li>
                <li>
                    Ensure focus and attention to classess
                </li>
                <li>
                    Reduce online Mental health problems
                </li>
            </div>  
    </div>
    <br>
    <br>
    <div class="c2">
        <img class="imgPeopleB" alt="Card" src="assets/g2.png">
        <br>
        <label class="labelLow">REDUCE THE ANXIETY AND WORRY ABOUT THEIR ONLINE ACTIVITIES</label>
        <div class="listView">
            <li>
                Access Parental Monitoring tools
            </li>
            <li>
                Check their screens online
            </li>
            <li>
                Get updated sms and log reports
            </li>
            <li>
                Track their online and gaming habits
            </li>
        </div>
    </div>
    <br>
    <br>
    <div class="c3">
        <img class="imgPeopleC" alt="Card" src="assets/g3.png">
        <br>
        <label class="labelLow">ENJOY SMOOTH TEACHING DURING YOUR ONLINE CLASSESS</label>
        <div class="listView">
            <li>
                Track their activities during classess
            </li>
            <li>
                Check if they really are attending classes
            </li>
            <li>
                Get updated sms and log reports
            </li>
            <li>
                Monitor their online behavious online
            </li>
        </div>
    </div>
    <br>
</div>