<div class="main">
  <div class="c1">
    <img class="sideImg" src="assets/fam1.png" />
  </div>
  <div class="c2">
    <div class="landingLabel">
      The multi-platform
      <b style="color: #256d85">parental monitoring</b> solutions for parents
      and schools.
    </div>
    <div class="button">
      <button
        (click)="showDemo()"
        pButton
        type="button"
        label="Start Demo"
        class="demo-btn"
      ></button>
      <p-dialog
        header="I want to try your"
        [modal]="true"
        [(visible)]="displayDemo"
        class="dialogSize"
      >
        <app-demoform></app-demoform>
      </p-dialog>
    </div>
    <div class="appPlatform">
      <br />
      <label> Available For:</label>
      <br />
      <li>
        <a
          href="https://firebasestorage.googleapis.com/v0/b/prodscout-90022.appspot.com/o/deskty-win32-x64.rar?alt=media&token=5788e497-63c9-40e3-9037-6339737a67d8"
          download
          target="_blank"
        >
          <img
            alt="logo"
            class="iconApps"
            src="assets/desktopapp.png"
            (click)="getDownload()"
          />
          <br />
          <span class="appSelect">Desktop</span>
        </a>
      </li>
      <li>
        <img
          alt="logo"
          class="iconApps"
          src="assets/webapp.png"
          (click)="reRoute()"
        />
        <br />
        <span class="appSelect">Browser</span>
      </li>
      <li>
        <img
          alt="logo"
          class="iconApps"
          src="assets/mobileapp.png"
          (click)="goToPlaystore()"
        />
        <br />
        <span class="appSelect">Mobile</span>
      </li>
    </div>
  </div>
</div>
