<div class="main">
  <app-topnav></app-topnav>

  <div class="mainContainer">
    <div class="headerContainer">
      <h2>Safeguard your kids at the touch of your fingertips.</h2>
      <h5>
        prodScout lets you manage websites and applications, received SMS, Email
        and Screenshot updates from your kid's devices. Check their activities
        with our logging system to tracks sites and application they have
        visited.
      </h5>
    </div>

    <div class="ImageContainer">
      <img
        src="https://famisafe.wondershare.com/images/images2022/home/banner.png?ivm-quality=OD"
      />
    </div>
  </div>
  <app-footer></app-footer>
</div>
