<div class="main">
  <div class="searchbox">
    <div class="searchInput">
      <input
        type="text"
        pInputText
        placeholder="Search Details.."
        [(ngModel)]="filterUser"
        class="input-form-standard"
      />
    </div>

    <div class="profileName">
      <h2>
        Hi!
        {{ username }}
      </h2>
    </div>
    <div class="date">
      {{ displayDate }}
    </div>
    <div class="buttonLg">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-sign-out"
        class="p-button-rounded p-button-secondary p-button-text"
        (click)="logOut()"
      ></button>
    </div>
  </div>

  <div class="cardbox">
    <div class="card">
      <div class="users">Total Users: {{ totalUsers }}</div>
    </div>

    <div class="card">
      <div class="profiles">Total Profiles: {{ totalProfiles }}</div>
    </div>

    <div class="card">
      <div class="buttons">
        <button
          pButton
          type="button"
          label="View Logs"
          class="view-btn"
          (click)="openLogs()"
        ></button>
      </div>
    </div>
  </div>

  <div class="tableData">
    <div class="dataTable">
      <h3 style="margin-left: 10px">User List</h3>

      <div class="userTable">
        <div class="headerDtx">
          <div class="h1">First Name</div>
          <div class="h2">Last Name</div>
          <div class="h3">Email</div>
          <div class="h4">Contact</div>
          <div class="h5">Role</div>
          <div class="h6">Actions</div>
        </div>
        <div class="Dtx" *ngFor="let users of userList | filter: filterUser">
          <div class="c1">{{ users.firstName }}</div>
          <div class="c2">{{ users.lastName }}</div>
          <div class="c3">{{ users.email }}</div>
          <div class="c4">{{ users.contactNo }}</div>
          <div class="c5">{{ users.role }}</div>
          <div class="c6">
            <button
              type="submit"
              class="table-btn"
              (click)="loadDetails(users)"
            >
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="dataMenu">
      <br />
      <label style="font-weight: bold; font-size: 16px">Update Email:</label>
      <br />
      <input
        type="text"
        pInputText
        [(ngModel)]="userEmail"
        class="input-form-standard"
      />
      <br />
      <sup
        *ngIf="noNull"
        style="font-size: 12px; color: red; font-style: italic"
        >Fields should not be empty</sup
      >
      <br />
      <label style="font-weight: bold; font-size: 16px">Update Contact:</label>
      <br />
      <input
        type="text"
        pInputText
        [(ngModel)]="userContact"
        class="input-form-standard"
      />
      <br />
      <sup
        *ngIf="noNull"
        style="font-size: 12px; color: red; font-style: italic"
        >Fields should not be empty</sup
      >
      <br />
      <label style="font-weight: bold; font-size: 16px">Update Password:</label>
      <br />
      <input
        type="text"
        pInputText
        [(ngModel)]="userPassword"
        class="input-form-standard"
      />
      <br />
      <sup
        *ngIf="noNull"
        style="font-size: 12px; color: red; font-style: italic"
        >Fields should not be empty</sup
      >
      <label style="font-size: 18px; color: #5f9df7">{{ updatePrompt }}</label>
      <br />
      <br />
      <button
        pButton
        type="button"
        label="Update Details"
        class="updt-btn"
        (click)="updateDetails()"
      ></button>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
