<div class="main">
  <div class="searchbox">
    <div class="searchInput">
      <input
        type="password"
        pInputText
        placeholder="Search.."
        [(ngModel)]="filter"
        class="input-form-standard"
      />
    </div>

    <div class="profileName">
      <h2>
        Hi!
        {{ username }}
      </h2>
      <div class="date">
        {{ displayDate }}
      </div>
      <div class="buttonLg">
        <button
          pButton
          type="button"
          label="Update Password"
          class="updt-btn"
          (click)="logOut()"
        ></button>
      </div>
    </div>
  </div>

  <div class="cardbox">
    <div class="card">
      <div class="users">Total Users:</div>
    </div>

    <div class="card">
      <div class="profiles">Total Profiles:</div>
    </div>

    <div class="card">
      <div class="buttons">
        <button
          pButton
          type="button"
          label="View Logs"
          class="view-btn"
        ></button>
      </div>
    </div>
  </div>

  <div class="tableData">
    <div class="dataTable">
      <div class="searchbar">
        <input
          type="password"
          pInputText
          placeholder="Search Details.."
          [(ngModel)]="filterUser"
          class="input-form-standard"
        />
      </div>
      <div class="userTable">
        <div class="headerDtx">
          <div class="h1">First Name</div>
          <div class="h2">Last Name</div>
          <div class="h3">Email</div>
          <div class="h4">Contact</div>
          <div class="h5">Role</div>
        </div>
        <div class="Dtx" *ngFor="let users of userList">
          <div class="c1">{{ users.firstName }}</div>
          <div class="c2">{{ users.lastName }}</div>
          <div class="c3">{{ users.email }}</div>
          <div class="c4">{{ users.contactNo }}</div>
          <div class="c5">{{ users.role }}</div>
        </div>
      </div>
    </div>
    <div class="dataMenu">
      <br />
      <label style="font-weight: bold; font-size: 16px">Update Password:</label>
      <br />
      <br />
      <input
        type="text"
        pInputText
        [(ngModel)]="userPassword"
        class="input-form-standard"
      />
      <br />
      <br />
      <button
        pButton
        type="button"
        label="Update Password"
        class="updt-btn"
      ></button>
    </div>
  </div>
</div>
