.main {
  margin: 10px;

  .searchbox {
    border: solid 1px #e1e1e1;
    border-radius: 8px;
    display: flex;
    margin: 2px;
    padding: 5px;
    align-items: center;
    .input-form-standard {
      width: 550px;
    }

    .profileName {
      margin-left: auto;
      display: inline;
      padding-right: 25px;
    }
  }

  .cardbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card {
      height: 80px;
      width: 450px;
      border: solid 2px #e1e1e1;
      background: #8d9eff;
      .users {
        font-size: 32px;
        margin: 10px;
        padding: 5px;
        background: #8d9eff;
        height: 60px;
        border-radius: 5px;
        color: #ffff;
      }

      .profiles {
        font-size: 32px;
        margin: 10px;
        padding: 5px;
        background: #8d9eff;
        height: 60px;
        border-radius: 5px;
        color: #ffff;
      }

      .buttons {
        margin: 10px;
        padding: 5px;

        .view-btn {
          width: 100%;
        }
      }
    }
  }

  .tableData {
    margin-top: 10px;
    display: flex;

    .dataTable {
      border: solid 2px #e1e1e1;
      margin: 10px;
      width: 80%;
      .searchbar {
        height: 60px;
        margin: 10px;
      }
      .userTable {
        margin: 10px;
        border: solid 1px #e1e1e1;
        .headerDtx {
          display: grid;
          grid-template-columns: 1.5fr 1fr 2fr 1fr 0.5fr 0.5fr;
          grid-template-rows: 1fr;
          padding: 5px;
          font-weight: bold;
          .h1 {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          .h2 {
            grid-column: 2/3;
            grid-row: 1/2;
          }
          .h3 {
            grid-column: 3/4;
            grid-row: 1/2;
          }
          .h4 {
            grid-column: 4/5;
            grid-row: 1/2;
          }
          .h5 {
            grid-column: 5/6;
            grid-row: 1/2;
          }
          .h6 {
            grid-column: 6/7;
            grid-row: 1/2;
          }
        }
        .Dtx {
          display: grid;
          grid-template-columns: 1.5fr 1fr 2fr 1fr 0.5fr 0.5fr;
          grid-template-rows: 1fr;
          padding: 5px;
          border: solid 1px #e1e1e1;
          .c1 {
            margin-top: 5px;
            grid-column: 1/2;
            grid-row: 1/2;
          }
          .c2 {
            margin-top: 5px;
            grid-column: 2/3;
            grid-row: 1/2;
          }
          .c3 {
            margin-top: 5px;
            grid-column: 3/4;
            grid-row: 1/2;
          }
          .c4 {
            margin-top: 5px;
            grid-column: 4/5;
            grid-row: 1/2;
          }
          .c5 {
            margin-top: 5px;
            grid-column: 5/6;
            grid-row: 1/2;
          }
          .c6 {
            grid-column: 6/7;
            grid-row: 1/2;
            .table-btn {
              height: 25px;
              width: 80px;
              margin-top: 5px;
              padding: 5px;
              background: #00abb3;
              color: #ffff;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
    .dataMenu {
      text-align: center;
      width: 20%;
      border: solid 2px #e1e1e1;
      margin-top: 10px;
      padding: 5px;
      .input-form-standard {
        font-size: 18px;
      }
      .select-drop {
        font-size: 18px;
        width: 70%;
      }
    }
  }
}
