<div class="main">
  <app-topnav></app-topnav>

  <div class="mainContainer">
    <div class="headerContainer">
      <h2>Minimize distractions during online class and sessions</h2>
      <h5>
        prodScout lets you manage websites and applications, received SMS, Email
        and Screenshot updates during online class. Monitor if they are keeping
        up to dates with their activities and collab with parents for a
        versatile parental monitoring.
      </h5>
    </div>

    <div class="ImageContainer">
      <img
        src="https://famisafe.wondershare.com/images/images2022/home/banner.png?ivm-quality=OD"
      />
    </div>
  </div>
  <app-footer></app-footer>
</div>
