<div class="main">
  <div class="form">
    <h2 style="margin-left: 5px; text-align: center">Sign Up for an Account</h2>
    <p-divider align="center" type="dashed"></p-divider>
    <div class="logIn">
      Already have an account? Try to
      <label (click)="openLogin()">Sign In</label>.
    </div>

    <div class="logIn" *ngIf="displayLogin">
      <app-login></app-login>
    </div>
    <br />
    <p-divider align="center" type="dashed">
      <b>Please Fill in Your Details</b>
    </p-divider>
    <form>
      <h5>
        First Name <sup style="font-size: 10px; color: red">*Required</sup>
      </h5>
      <input
        name="fname"
        type="text"
        pInputText
        [(ngModel)]="firstName"
        class="input-form-standard"
        required
      />
      <br />
      <h5>
        Last Name <sup style="font-size: 10px; color: red">*Required</sup>
      </h5>
      <input
        name="lname"
        type="text"
        pInputText
        [(ngModel)]="lastName"
        class="input-form-standard"
        required
      />
      <br />
      <h5>Email <sup style="font-size: 10px; color: red">*Required</sup></h5>
      <input
        name="email"
        type="text"
        pInputText
        [(ngModel)]="email"
        class="input-form-standard"
        required
      />
      <br />
      <h5>
        Password
        <sup style="font-size: 10px; color: red"
          >*Required [Must be alphanumeric and 6 characters long]</sup
        >
      </h5>
      <input
        name="pwd"
        type="password"
        pInputText
        [(ngModel)]="password"
        class="input-form-standard"
        required
        (keyup)="matchPW($any($event.target).value)"
      />
      <sup *ngIf="isAphx" style="font-size: 10px; color: red">{{
        aphxPrompt
      }}</sup>
      <sup
        *ngIf="isMinChar"
        style="font-size: 10px; color: red; font-weight: bold"
        >{{ minCharPrompt }}</sup
      >
      <br />
      <h5>
        Re-Type Password
        <sup *ngIf="isMismatched" style="font-size: 10px; color: red">{{
          mismatchPrompt
        }}</sup>
      </h5>
      <input
        name="pwedChk"
        type="password"
        pInputText
        [(ngModel)]="passwordCheck"
        class="input-form-standard"
        required
      />
      <br />
      <h5>
        Mobile No (+63xxxxxxxxxx)<sup style="font-size: 10px; color: red"
          >*Required</sup
        >
      </h5>
      <input
        id="mobileNo"
        name="mobileno"
        type="text"
        pInputText
        [(ngModel)]="contactNo"
        class="input-form-standard"
        required
      />
      <br />
      <button
        pButton
        type="button"
        label="SIGN UP"
        class="signup-btn"
        (click)="signUp()"
      ></button>
    </form>
    <p-dialog
      header="Register Success"
      [modal]="true"
      [(visible)]="displaySuccess"
      class="dialogSize"
    >
      <div style="text-align: center">
        <p-divider align="center" type="dashed"></p-divider>
        <h1 style="color: #8fe3cf">Registration Success</h1>
        <h2>Welcome to prodScout!</h2>
        <h4>A notification shall be sent to you in any moment</h4>
        <p-divider align="center" type="dashed"></p-divider>
      </div>
    </p-dialog>
    <p-divider align="center" type="dashed"></p-divider>
    <div class="footer">
      School or Institution? Please
      <a class="contactUs"><b>Contact Us</b></a> for the corporate Sign Up
      Account
    </div>
  </div>
</div>
